---
import Layout from '../layouts/Layout.astro';
import SectionContainer from "../components/SectionContainer.astro";
import TitleSection from "../components/TitleSection.astro";
import NewsIcon from "../assets/News.astro";
import NewsCard from "../components/NewsCard.astro";


// Datos de ejemplo para las noticias - estos deben coincidir con los de [id].astro
const noticias = [
  {
    id: "campus-verano",
    titulo: 'Campus de verano 2025: ¡Inscríbete ya!',
    descripcion: 'Ya están abiertas las inscripciones para nuestro campus.',
    fecha: '10 abril 2025',
    imagen: '../src/assets/basket.JPEG',
  }
];
---
<Layout title="Noticias" description="Últimas noticias del club">
  <main class="px-4 py-24 space-y-24">
    <SectionContainer id="noticias">
      <TitleSection>
        <NewsIcon class="size-8" />
        Noticias del club
      </TitleSection>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
        {noticias.map((noticia) => (
          <div class="flex flex-col h-full">
            <NewsCard 
              titulo={noticia.titulo}
              descripcion={noticia.descripcion}
              imagen={noticia.imagen}
              fecha={noticia.fecha}
              id={noticia.id}
            />
          </div>
        ))}
      </div>
    </SectionContainer>
  </main>
</Layout>